
<body>
    <div class="register-box-container">
        <div class="register-box">
            <div class="board">
                <fieldset>
                    <label name="email">Email</label>
                    <input type="email" value="example@example.eg" />
                    <label name="FirstName">First Name</label>
                    <input type="text" />
                    <label name="LastName">Last Name</label>
                    <input type="text" />
                    <label name="Phone">Phone</label>
                    <input type="number" min="0" max="999999999999" />
                    <label name="password">Password</label>
                    <input type="password" />
                    <label name="password">Repeat Password</label>
                    <input type="password" />
                    <input type="submit" value="Register" />
                </fieldset>
            </div>
        </div>
    </div>
</body>

