@model WebUI.ViewModels.UserViewModel

<div class="option-container">
    <label>Change User Information</label>
    <label style="border-bottom: 1px solid lightgray;">Order History</label>
</div>
<div class="option-view-container">

</div>


